<div><%= @game.player_attacked.name %> attacked <%= @game.player_defended.name %>.</div>

<div><%= @game.player_one.name %> now has <%= @game.player_one.current_hp %>hp.</div>
<div><%= @game.player_two.name %> now has <%= @game.player_two.current_hp %>hp.</div>

<form action='/attack' method='get'>
  <input type='submit' value='Attack!'>
</form>
