<h2><%= @game.player_attacked.name %> attacked <%= @game.player_defended.name %>.</h2>

<div>
  <h3><%= @game.player_one.name %> now has <%= @game.player_one.current_hp %>hp.</h3>
  <progress max="<%=100%>" value="<%= @game.player_one.current_hp %>"></progress>
</div>

<div>
  <h3><%= @game.player_two.name %> now has <%= @game.player_two.current_hp %>hp.</h3>
  <progress max="<%=100%>" value="<%= @game.player_two.current_hp %>"></progress>
</div></br>

<form action='/attack' method ='get'>
  <input type='submit' value='Continue!'>
</form>
